body {
  background-color: black;
  color: rgb(172, 126, 57);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
}
p {
  color: rgb(89, 69, 43);
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
input {
  height: 30px;
  width: 45px;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(246, 176, 71);
  border: 5px solid rgb(236, 149, 18);
  color: rgb(89, 69, 43);
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  padding: 8px 13px;
  background-color: rgb(246, 176, 71);
  color: rgb(89, 69, 43);
  border: 5px solid rgb(236, 149, 18);
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: 46.5%;
  outline: none;
  cursor: pointer;
}
button:active {
  transform: scale(0.9);
}
button:hover {
  background-color: rgb(236, 149, 18);
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  input {
    height: 20px;
    width: 35px;
    font-size: 20px;
  }
  button {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 40%;
    border: 3px solid rgb(236, 149, 18);
  }
}